<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bellminp.instrumentation">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".InstrumentationApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name_text"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instrumentation"
        android:usesCleartextTraffic="true"
        tools:ignore="IntentFilterExportedReceiver,LockedOrientationActivity">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Instrumentation" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Instrumentation" />

        <activity
            android:name=".ui.graphdetail.GraphDetailActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.noStatusBar" />

        <activity
            android:name=".ui.usinginfo.UsingInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Instrumentation" />

    </application>

</manifest>